$blue-color: blue;
$check-form-color: green;
$check-form-red: red;
 

.register-form-container{
    background-image: url('../images/formbg7.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}


.form-div{
    background-color: white;
    width: 60%;
    border-radius: 10%;
    
    border-style: solid;
    border-width: 10px;
    border-color: rgb(242,246,249);
}

.costumer_email_check{
    color: $check-form-red;
}

.costumer_username_check{
    color: $check-form-red;
}

.costumer_phone_check{
    color: $check-form-red;
}

.check-tag{
    color: $check-form-color;
    visibility: hidden;
}

.check-tag-username{
    color: $check-form-color;
    visibility: hidden;
}


.check-tag-phone{
    color: $check-form-color;
    visibility: hidden;
}


.flag{
    width: 40px;
    height: 40px;
}

.flag-dodej{
    width: 40px;
    height: 40px;
}

.check-tag-password-one{
    color: $check-form-color;
    visibility: hidden;
}

.check-tag-password-two{
    color: $check-form-color;
    visibility: hidden;
}

.costumer_password_one_check{
    color: $check-form-red;
}

.costumer_password_two_check{
    color: $check-form-red;
}

.check-tag-faktura-first-name{
    color: $check-form-color;
}
.costumer_faktura_first_name_check{
    color: $check-form-red;
}


.check-tag-faktura-last-name{
    color: $check-form-color;
}
.costumer_faktura_last_name_check{
    color: $check-form-red;
}

.check-tag-faktura-city{
    color: $check-form-color;
}
.costumer_faktura_city_check{
    color: $check-form-red;
}


.check-tag-faktura-zipcode{
    color: $check-form-color;
    visibility: hidden;
}

.costumer_faktura_street_check{
    color: $check-form-red;
}

.costumer_faktura_zipcode_check{
    color: $check-form-red;
}

.check-tag-dodej-first-name{
    color: $check-form-color;
    visibility: hidden;
}

.costumer_dodej_first_name_check{
    color: $check-form-red;
}


.check-tag-dodej-last-name{
    color: $check-form-color;
    visibility: hidden;
}

.costumer_dodej_last_name_check{
    color: $check-form-red;
}

.check-tag-dodej-company{
    color: $check-form-color;
    visibility: hidden;
}

.costumer_dodej_company_check{
    color: $check-form-red;
}

.check-tag-dodej-city{
    color: $check-form-color;
    visibility: hidden;
}

.costumer_dodej_city_check{
    color: $check-form-red;
}

.check-tag-dodej-street{
    color: $check-form-color;
    visibility: hidden;
}

.costumer_dodej_street_check{
    color: $check-form-red;
}

.check-tag-dodej-zipcode{
    color: $check-form-color;
    visibility: hidden;
}

.costumer_dodej_zipcode_check{
    color: $check-form-red;
}

.check-tag-dodej-info{
    color: $check-form-color;
    visibility: hidden;
}

.costumer_dodej_info_check{
    color: $check-form-red;
}


.check-tag-dodej-phone{
    color: $check-form-color;
    visibility: hidden;
}

.costumer_dodej_phone_check{
    color: $check-form-red;
}

.check-tag-firma-ico{
    color: $check-form-color;
    visibility: hidden;
}

.costumer_firma_ico_check{
    color: $check-form-red;
}

.check-tag-firma-dic{
    color: $check-form-color;
    visibility: hidden;
}

.costumer_firma_dic_check{
    color: $check-form-red;
}

.check-tag-firma-bank-acc{
    color: $check-form-color;
    visibility: hidden;
}

.costumer_firma_bank_acc_check{
    color: $check-form-red;
}

.costumer_firma_bank_number_check{
    color: $check-form-red;
}


.check-tag-firma-spec-symbol{
    color: $check-form-color;
    visibility: hidden;
}

